*{
  font-family: "Roboto", sans-serif;
}

body{
  background: hsla(217, 100%, 50%, 1);
  background: linear-gradient(90deg, #1422A1B8 30%, #00AFEBB8 70%);
}

.container_principal h5{
  margin-top: 20px;
  background-color: #fff;
  border-radius: 25px;
  padding: 5px 40px;
  border: 4px solid #E7E4E4;
  text-align: center;
  color: #1422A1B8;
  display: inline-block;
}

.container_principal{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

div.contenedor_acordeones{
  width: 95%;
  min-height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
}

/* Estilos de los tabs */

li.nav-item {
  width: 50%;
}

button#uncontrolled-tab-example-tab-informacion, button#uncontrolled-tab-example-tab-procedimiento {
  width: 100%;
}

.nav-tabs button.nav-link{
  margin-bottom: 0;
  border: none;
}

button#uncontrolled-tab-example-tab-informacion.nav-link.active, button#uncontrolled-tab-example-tab-procedimiento.nav-link.active{
  border-bottom: 3px solid #000;
  color: #000;
  font-weight: bold;
}

button#uncontrolled-tab-example-tab-informacion.nav-link, button#uncontrolled-tab-example-tab-procedimiento.nav-link{
  border-bottom: 3px solid #787777;
  color: #787777;
  font-weight: bold;
}

button.accordion-button.collapsed:hover {
  background-color: #a0e2f8;
}

.accordion-item button{
  font-weight: bold;
  font-size: 0.8rem;
}

button.accordion-button:not(.collapsed) {
  background-color: #a0e2f8;
}

/* Esilos componente CampoInput */

section.identificacion {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  grid-row: auto;
  grid-gap: 10px;
}


.container-campo {
  display: flex;
  flex-direction: column;
}

.fila {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.container-campo input{
  border-radius: 20px;
  border: 3px solid #E7E4E4;
}
.container-campo textarea{
  border-radius: 5px;
  border: 3px solid #E7E4E4;
  min-height: 80px;
}

.container-campo select {
  border-radius: 20px;
  border: 3px solid #E7E4E4;
}

.container-campo label {
  padding-left: 10px;
  font-weight: 500;
  font-size: 13px;
}

.container-campo > input, .container-campo > select, .container-campo > textarea {
  padding: 3px 10px;
  font-size: 13px;
  outline: none;
}

.container-campo > input:focus, .container-campo > select:focus, .container-campo > textarea:focus {
  border: 3px solid #a0e2f8;
}

hr.linea{
  border-top: 5px solid #a7a0a0;
  border-radius: 10px;
}
span.subtitulo{
  text-align: center;
  color: #535DB9;
  font-weight: bold;
}
